[submodule "comfylang/themes/ace-documentation"]
	path = comfylang/themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "blog/themes/mediumish-gohugo-theme"]
	path = blog/themes/mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme.git
