.imageWithCaption img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imageWithCaption figcaption {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.imageWithCaption figcaption h4 {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.callout p {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: #00ab6b solid 4px;
  background-color: #afe9ff;
  padding: 20px;
  margin: 2em 0;
  text-align: justify;
}
