.imageWithCaption img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  display: block;
}

.imageWithCaption figcaption {
  display: block;
  margin: 0.25rem 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: serif;
  font-size: 1.2rem;
}

.imageWithCaption figcaption h4 {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: serif;
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.callout {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-radius: 10px;
  border: #00ab6b solid 4px;
  background-color: #afe9ff;
  color: #000;
  margin: 2rem 0;

  & .emoji {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    font-size: 4rem;
  }

  &  .content {
    display: table-cell;
    width: 100%;
    padding: 1.5rem;
    text-align: justify;

    & p {
      margin: 0 0 1em 0;
    }

    & p:last-child {
      margin: 0;
    }
  }

  & code {
    font-weight: bold;
    color: black;
  }
}

@media (max-width: 1023px) {
  .imageWithCaption img {
    margin-top: 1.3rem;
  }

  .imageWithCaption figcaption h4 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 1.3rem;
  }

  .callout {
    display: block;
  }

  .callout .emoji {
    display: block;
    float: left;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .callout .content {
    display: block;
    padding: 0.75rem;
  }

  .container .container {
    padding: 0;
  }
}

.sidebar {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0 8%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: larger;

  & p:last-child {
    margin: 0;
  }
}

a code {
  color: inherit;
}
